name: census_series
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - census
  - pyarrow
  - duckdb
  - pandas
  - gdal>=3.1
  - fiona>=1.10,<2.0
  - pulp>=2.7,<3.0
  - pip
  - pip:
    - censusdis
    - ipykernel
    - hydra-core
    - snakemake