defaults:
  - _self_
  - datapaths: datapaths
  - variable_codes: core

# logging config
hydra:
  run:
    dir: logs/${now:%Y-%m-%d}/${now:%H-%M-%S}


# minimal arguments
geo_type:  # 'zcta'  # type=Literal['zcta', 'county', 'state'], help='Geography type to fetch data for'
survey:  # type=Literal['dec', 'acs1', 'acs5'], help='Census survey to fetch data for'
variable:  # (e.g. variable=popultion) help='Census variable listed in a census yaml file'
api_key: ${oc.env:CENSUS_API_KEY} # type=str, default=os.environ['CENSUS_API_KEY'], help='Census API key'
